

@model AddNewStudentVM;

@{
	SelectList departments = new SelectList(Model.Departments, "DepartmentId", "DepartmentName");
}
<style>

	.Form {
		background-color: white;
		padding: 20px;
		border-radius: 10px;
	}

	.Form div{
		margin-bottom:5px;
	}

		.Form div label{
			margin-bottom: 5px;
			font-weight:bold;
		}

	.button {
		display: flex;
		justify-content: space-between;
		margin-top: 15px;
	}

		.button a, .button input {
			display: block;
			text-decoration: none;
			padding: 10px 20px;
			color: white;
			font-weight: bold;
			background: linear-gradient(45deg, #1a2a6c, #b21f1f);
			border-radius: 10px;
			cursor: pointer;
		}

		.button input {
			border: none;
			outline: none;
		}

			.button a:hover, .button input:hover {
				background: linear-gradient(45deg, #2a4c8c, #d12e2e)
			}
</style>



<form method="post" asp-controller="Student" asp-action="SaveNewStudent" class="Form">
	<div>
	    <label asp-for="Student.StudentName"></label>
		<input asp-for="Student.StudentName" class="form-control" />
		<span asp-validation-for="Student.StudentName" class="text-danger"></span>
	</div>
	<div>
		<label asp-for="Student.Age"></label>
		<input asp-for="Student.Age" class="form-control" />
		<span asp-validation-for="Student.Age" class="text-danger"></span>
	</div>
	<div>
		<label asp-for="Student.gender"></label>
		<input asp-for="Student.gender" class="form-control" />
		<span asp-validation-for="Student.gender" class="text-danger"></span>
	</div>
	<div>
		<label asp-for="Student.City"></label>
		<input asp-for="Student.City" class="form-control" />
		<span asp-validation-for="Student.City" class="text-danger"></span>
	</div>
	<div>
		<label asp-for="Student.Image"></label>
		<input asp-for="Student.Image" type="file" class="form-control" />
		<span asp-validation-for="Student.Image" class="text-danger"></span>
	</div>
	<div>
		<label asp-for="Student.DeptId"></label>
		<select asp-for="Student.DeptId" asp-items="departments" class="form-control"></select>
		<span asp-validation-for="Student.DeptId" class="text-danger"></span>
	</div>
	<br />
	<div class="button">
		<a asp-action="getAllStudent" asp-controller="Student">Back</a>
		<input type="submit" value="Next" />
	</div>
</form>


<script src="~/lib/jquery/dist/jquery.min.js"></script>
<script src="~/lib/jquery-validation/dist/jquery.validate.min.js"></script>
<script src="~/lib/jquery-validation-unobtrusive/jquery.validate.unobtrusive.min.js"></script>






















