

@model List<Department>


<link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
<link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
<link rel="stylesheet" href="~/AdminManagementSystem.styles.css" asp-append-version="true" />


<style>
    .Department-table-container {
        font-family: Arial, sans-serif;
        max-width: 800px;
        background-color: #f9f9f9;
        border-radius: 8px;
        overflow: hidden;
        box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
        min-height:100px;
    }

    .Department-table {
        width: 100%;
        border-collapse: collapse;
    }

        .Department-table th,
        .Department-table td {
            padding: 12px 15px;
            text-align: left;
            border-bottom: 1px solid #e0e0e0;
        }

        .Department-table th {
            border: none;
            border-collapse: collapse;
            background: linear-gradient(45deg, #1a2a6c, #b21f1f);
            color: white;
            font-weight: bold;
        }

        .Department-table tr:last-child td {
            border-bottom: none;
        }

        .Department-table tr:nth-child(even) {
            background-color: #f2f2f2;
        }

        .Department-table tr:hover {
            background-color: #e6e6e6;
        }

        .Department-table td:first-child {
            font-weight: bold;
            color: #333;
            width: 50px;
        }

        .Department-table td:nth-child(4) {
            text-align: right;
        }
</style>

<div class="Department-table-container">
    <table class="Department-table">
        <thead>
            <tr>
                <th></th>
                <th>Department</th>
                <th>Manager</th>
            </tr>
        </thead>
        <tbody>
            @{
                int start = 1;
            }
            @foreach (Department item in Model)
            {
                <tr>
                    <td>@start</td>
                    <td>@item.DepartmentName</td>
                    <td>@item.DepartmentManager</td>
                </tr>
                start++;
            }
        </tbody>
    </table>
</div>













